<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find seekur_jr_gazebo)/worlds/seekur_jr.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find seekur_jr_description)/urdf/seekur_jr.xacro" />
  
  <!-- Spawn a robot into Gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model seekur_jr" output="screen" />
  
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find seekur_jr_control)/config/seekur_jr_control.yaml" command="load"/>

  <!-- load the controllers -->
   <!-- load the controllers -->
  <node name="labrob_controller" pkg="controller_manager" type="spawner" output="screen" ns="seekur_jr" args="joint_state_controller terabot_arm_trajectory_controller" />
  
  <!-- node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/seekur_jr" args="joint_state_controller shoulder_joint_position_controller forearm_joint_position_controller upper_arm_joint_position_controller wrist_pitch_joint_position_controller wrist_roll_joint_position_controller"/--> 
  <!--gripper_r_finger_joint_position_controller gripper_l_finger_joint_position_controller"/-->
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/seekur_jr/joint_states" />
    <param name="publish_frequency" value="50"/>
  </node>
  
</launch>
